<h1>Welcome</h1>
<p>Welcome to my blog! I hope you stay for a while and read about my misfortunes.</p>
<p>Check me out on <%= link_to "Twitter", "http://www.twitter.com" %> where I try to appear professional sometimes.</p>
