<% if notice.present? %>
	<p class="alert alert-info"><%= notice %></p>
<% end %>

<h2>
  <%= @post.title %>
</h2>

<p>
  <%= simple_format(@post.body) %>
</p>

<p class="text-muted">
  <%= @post.created_at.to_date.to_formatted_s(:long_ordinal) %>
</p>
